
<html>
	<head>
		<meta charset="utf-8">
		<title>Home</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	</head>
	
	
	<body>
		
		<nav class="navbar navbar-inverse">
			<div class="container">
			  <!-- Brand and toggle get grouped for better mobile display -->
			  <div class="navbar-header">
				<a class="navbar-brand">STEGANOGRAPHY</a>
			  </div>
			</div>
		  </nav>
		  

		
		<div class="container">
			<div>
				{%if stegtype=="Image"%}
					<h1>Encrypted File</h1>
					<img src="../static/image/merged.png">
				{% endif %}

				{%if decodedata=="imgdecryptiondone"%}
					<h1>Decrypted File</h1>
					<img src="../static/image/unmerged.png">
				{% endif %}

				{%if decodedata=="textdecryptiondone"%}
					<h1>decrypted text: {{decryptedtext}} </h1>
					
				{% endif %}

				

				<!-- {%if stegtype=="Image"%}
					<h1>Encrypted File</h1>
					<img src="../static/merged.png">
				{% endif %} -->

				{%if stegtype=="Text"%}
					<h1>Text Encrypted image </h1>
					<img src="../static/text/textstegofile.png">
				{% endif %}

				{%if stegtype=="Audio"%}
					<h1>Encrypted Audio </h1>
					<audio controls>
						
						<source src="../static/audio/sampleStego.wav" type="audio/x-wav">
					  Your browser does not support the audio element.
					  </audio>
				{% endif %}
				{%if decodedata=="Audiodecryptiondone"%}
					<h1>Decrypted text is {{decryptedtext }} </h1>
					
				{% endif %}

			</div>
		</div>
		 
		
		</div>
		
		
	</body>
</html>