
<html>
	<head>
		<meta charset="utf-8">
		<title>Home</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

	</head>
	
	
	<body>
		
		<nav class="navbar navbar-inverse">
			<div class="container">
			  <!-- Brand and toggle get grouped for better mobile display -->
			  <div class="navbar-header">
				<a class="navbar-brand">STEGANOGRAPHY</a>
			  </div>
			</div>
		  </nav>
		
		<div class="container">
			<h1>
				Upload Files
			</h1>
			
			
			<div>
				{%if cryptopt=="encrypt"%}
					{%if stegtype=="Image"%}
					{% with messages = get_flashed_messages() %}
					{% if messages %}
						{% for message in messages %}
							<strong> {{message}} </strong>
						
							<!-- <div class="alert alert-primary alert-dismissible fade show" role="alert"></div>
								
								
							</div> -->
						{% endfor %}
					{% endif %}
				{% endwith %}
						
						<h3> {{stegtype}} Steganography - Encryption</h3>
							<form id="encryptimgfiles" style="margin-top:40px;" action="/encryptimgfiles" enctype='multipart/form-data' method="POST">
								<input type="text" name="stegtype" value="{{stegtype}}" style="display:none;">
								<input type="text" name="cryptopt" value="{{cryptopt}}" style="display:none;">
									<label for="opfile">Select image to be output</label>
									<input id="opfile"type="file" name="opfile" class="form-control" accept="image/png, image/gif, image/jpeg">
									<label for="hidefile">Select image to be hidden</label>
									<input id="hidefile"type="file" name="hidefile" class="form-control" accept="image/png, image/gif, image/jpeg">
								
								<div class="col-12" style="margin: 7px 0 0 0;">
					              <button type="submit" class="btn btn-primary">Submit</button>
					            </div>
							</form>
					{% endif %}
				{% endif %}
				{%if cryptopt=="encrypt"%}
					{%if stegtype!="Image"%}
						<h3> {{stegtype}} Steganography - Encryption</h3>
						<form id="encryptfiles" style="margin-top:40px;" action="/encryptfiles" enctype='multipart/form-data' method="POST">
						<input type="text" name="stegtype" value="{{stegtype}}" style="display:none;">
						{%if stegtype=="Text"%}
							<label for="opfile">Select image to be output</label>
							<input id="opfile" type="file" name="opfile" class="form-control" accept="image/png, image/gif, image/jpeg" >
							<label for="hidefile">Select text to be hidden</label>
							<input id="hidefile" class="form-control" type="text" name="hidefile">
						{% endif %}
						{%if stegtype=="Audio"%}
							{% with messages = get_flashed_messages() %}
							{% if messages %}
							{% for message in messages %}
							<strong> {{message}} </strong>
						
							
						{% endfor %}
						{% endif %}
						{% endwith %}
							<label for="opfile">Select Audio file to be output</label>
							<input id="opfile"type="file" name="opfile" class="form-control" accept="audio/mp3,audio/*,audio/wav;capture=microphone">
							<label for="hidefile">Select text to be hidden</label>
							<input id="hidefile"type="text" class="form-control" name="hidefile">
						{% endif %}
						<div class="col-12" style="margin: 7px 0 0 0;">
			              <button type="submit" class="btn btn-primary">Submit</button>
			            </div>
						</form>
					{% endif %}
				{% endif %}
				{%if cryptopt=="decrypt"%}
					<h3> {{stegtype}} Steganography - Decryption</h3>
					<form id="decryptfiles" style="margin-top:40px;" action="/decryptfiles" method="POST" enctype='multipart/form-data'>
						<input type="text" name="stegtype" value="{{stegtype}}" style="display:none;">
						{%if stegtype=="Text"%}
							<label for="opfile">Select image to decrypt</label>
							<input id="opfile" type="file" class="form-control" name="opfile" accept="image/png, image/gif, image/jpeg" >
						{% endif %}
						{%if stegtype=="Image"%}
							<label for="opfile">Select image to decrypt</label>
							<input id="opfile"type="file" class="form-control" name="opfile" accept="image/png, image/gif, image/jpeg">
						{% endif %}
						{%if stegtype=="Audio"%}
							<label for="opfile">Select Audio file to decrypt</label>
							<input id="opfile"type="file" class="form-control" name="opfile" accept="audio/mp3,audio/*,audio/wav;capture=microphone">
						{% endif %}
						<div class="col-12" style="margin: 7px 0 0 0;">
			              <button type="submit" class="btn btn-primary">Submit</button>
			            </div>
					</form>
				{% endif %}
			</div>
		</div>
		 
		
		</div>
		
		
	</body>
</html>